<ui-view ng-init="init_controller()">
    <div id="filters" ng-show="data.objects.length > 0">
        <div id="paging">
            <span>
                [[ data.objects.length ]] RESULTS
            </span>
        </div>
        <div id="args">
            <span ng-repeat="option in data.filter_options" ng-bind="option"></span>
        </div>
        <div id="search">
            <span><i class="fa fa-search"></i></span>
            <input type="text" name="search_q" placeholder="search">
        </div>
    </div>
    <div class="table" ng-show="data.objects.length > 0">
        <div class="thead tr">
            <span class="td">code</span>
            <span class="td">product</span>
        </div>
        <div class="tr" ng-repeat="obj in data.objects" onMouseOver="listItemHover(1)" onMouseOut="listItemHoverOut(1)">
            <span class="td">[[ obj.id ]]</span>
            <span class="td">[[ obj.product.name ]]</span>
        </div>
    </div>
    <div class="tr" id="empty_list_box" ng-hide="data.objects.length > 0">
        <h3 style="text-align: center;">
            <a ui-sref="meshes_new" style="font-size: 100px; color: lightgrey;">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                <span>Request mesh device</span>
            </a>
        </h3>
    </div>
</ui-view>
