{% extends "client/general/details/station.html" %}
{% block inner_body %}
    {% if results.items|length > 0 %}
        <div id="filters">
                {% include "client/general/snippets/pagination.html" %}
                {% include "client/general/snippets/list_view_filters.html" %}
                {% include "client/general/snippets/list_search.html" %}
            </div>
        <div class="table">
		<div class="thead tr">
				<span class="td">date</span>
				<span class="td">code</span>
		</div>
		{% for obj in results.items %}
		<div class="tr" onMouseOver="listItemHover({{ loop.index }})" onMouseOut="listItemHoverOut({{ loop.index }})">
			<span class="td">
				{{obj.date_created.strftime('%b %d, %Y')}}
				<span class="caption">{{obj.date_created.strftime('%H:%M %p')}}</span>
			</span>
			<span class="td">
                <a href="{{ url_for('.dashboard', slug=obj.service.code) }}#!/installations/{{ obj.id }}">{{ obj.code }}</a>
            </span>
		</div>
		{% endfor %}
	</div>
    {% else %}
        <div class="tr" id="empty_list_box" >
            <h3 style="text-align: center">
                No installations configured yet
            </h3>
        </div>
	{% endif %}
{% endblock %}
