{% extends "email/layout.html" %}
{% block header_ext %}
    <table cellspacing="0" cellpadding="0" class="force-full-width" bgcolor="#fff">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">Update!</span><br><br>
                Your account settings have been updated.
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:200px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">Review
                        Account Settings</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
                <br>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table class="force-full-width" cellspacing="0" cellpadding="30" bgcolor="#ebebeb">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            Hi bob,<br>
                            <br>
                            Your account settings have been updated. If you did not update your settings, please <a
                                href="#">contact support.</a><br><br>
                            Sincerely,<br><br>
                            Awesome Inc
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}
