<!DOCTYPE html>
<html>

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Atele is an Intelligent Feedback Systems that covers Power sector">
        <meta name="author" content="Atele">
        <meta name="keyword" content="Atele, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">


        <!-- Force latest rendering engine in IE browser -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

        <title>Atele Admin | {{ page_title }}</title>
       <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        {% assets "admin-login-global-css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

    </head>

    <body class="login-container" >
        <!-- <div style="background: url(/static/images/banner.jpg) 50% 0px no-repeat;background-size: cover; position: fixed; top: 0; left: 0; right: 0; bottom: 0;"></div> -->
        <div  style="background-color: rgba(0, 0, 0, 0.8);z-index: 1; position: relative; overflow: hidden;">
            <div class="login-modals hidden">
                {% block body %}
                {% endblock body %}
                <div id="login-ad-modal" class="login-ad-modal">
                    <iframe id="login-ad-iframe"></iframe>
                </div>
            </div>

        </div>

        <script>
            var modalsAlreadyShowing = false;

            // if the ad panel hasn't loaded within 1 sec,
            // just show the login modal
            setTimeout(function () {
                if (!modalsAlreadyShowing) {
                    // cut our losses, hide ad modal and show container
                    $("#login-ad-modal").addClass("hidden");
                    $(".login-modals").removeClass("hidden");
                    modalsAlreadyShowing = true;
                }
            }, 1000); // one second timeout

            // this gets called from the jsonp call
            function loadAdPanel(payload) {
                // don't show the ad panel if the timeout has passed,
                // since we're already showing the login modal
                // and sliding content is bad ux
                if (!modalsAlreadyShowing) {
                    if (payload.success === "success" && payload.body && payload.body.length > 0) {
                        $("#login-ad-iframe").contents().find("body").html(payload.body);
                    } else { // no ad panel today, so just show login page
                        $("#login-ad-modal").addClass("hidden");
                    }
                    $(".login-modals").removeClass("hidden");
                    modalsAlreadyShowing = true;
                }
            }
        </script>
        {% assets "admin-login-global-js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
