<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Atele | {{ page_title }}</title>

    {#		{% cache 600, "main", "layout", "metas" %}#}
    <meta name="google-site-verification" content="AuI5JmaSF65rHJDirBAonrgjuBi3VGSTEwI608HyF6w"/>
    <meta name="description"
          content="Atele is an information technology company that develops Internet of things solutions designed to organize various capabilities and needs of stakeholders in different sectors to operate all the intricate parts of their systems and structures as efficiently as possible.">
    <meta name="author" content="Atele">
    <meta name="keywords"
          content="Atele, Internet of Things, Intelligent Feedback System, Power Management, Monitoring, Remote Surveillance Service, Asset Tracking Service, Smart Metering, Process Monitoring">
    <meta name="robots" content="index, follow">
    {#		<meta http-equiv="Cache-control" content="public">#}
    {#		<meta http-equiv="Set-Cookie" content="ACCOUNT=9983373; path=/; expires=Monday, 10-Oct-16 00:00:00 GMT+1">#}

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#		{% endcache %}#}

    {#		{% cache 600, "main", "layout", "styles" %}#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/small_new_fav.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% assets "main-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {#        {% endcache %}#}
</head>
<body class="no-trans front-page transparent-header gradient-background-header">

<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<div class="page-wrapper">
    {% block header %}
        {#			{% cache 600, "main", "layout", "general", "header-design" %}#}
        <div class="header-container">
            <header class="header  fixed fixed-before  dark clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3  hidden-xs ">
                            <div class="header-left clearfix">

                                <div id="logo" class="logo" style="margin-top:-10px">
                                    <a href="/"><img id="logo_img" src="/static/images/small_rsz_atele_logo.png"
                                                     alt="Atele" data-animation-effect="fadeInLeft"
                                                     data-effect-delay="150"></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-9">
                            <div class="header-right clearfix">
                                <div class="main-navigation  animated with-dropdown-buttons">
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                        data-target="#navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <div class="header-left clearfix  visible-xs ">
                                                    <div id="logo-mobile" class="logo">
                                                        <a href="/"><img id="logo-img-mobile"
                                                                         src="/static/images/small_rsz_atele_logo.png"
                                                                         alt="Atele"></a>
                                                    </div>
                                                    <div class="site-slogan hidden-xs">
                                                        Intelligent Remote Feedback Systems
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                <div class="header-dropdown-buttons"
                                                     style="margin-top: 10px; margin-right: -95px;">
                                                    <a href='{{ url_for('.atele_services') }}'
                                                       class="hidden-xs no_ac">Services</a>
                                                    <a href="{{ url_for('.atele_services') }}"
                                                       class="btn btn-xs visible-xs btn-block btn-default">Services</a>
                                                    <a href='{{ url_for('.devices') }}'
                                                       class="hidden-xs no_ac">Hardware</a>
                                                    <a href="{{ url_for('.devices') }}"
                                                       class="btn btn-xs visible-xs btn-block btn-default">Hardware</a>
                                                    {#                                                    <a href='{{ url_for('.pricing') }}' class="btn btn-xs hidden-xs btn-default">Pricing</a>#}

                                                    <a href="mailto:inquiries@atele.org"
                                                       class="btn btn-xs hidden-xs btn-default">Contact Us <i
                                                            class="fa fa-envelope-o pl-5"></i></a>
                                                    <a href="mailto:inquiries@atele.org"
                                                       class="btn btn-xs visible-xs btn-block btn-default">Contact Us <i
                                                            class="fa fa-envelope-o pl-5"></i></a>
                                                    <a href='https://apps.atele.org'
                                                       class="btn btn-xs hidden-xs btn-default">Login</a>
                                                    <a href='https://apps.atele.org'
                                                       class="btn btn-xs visible-xs btn-block btn-default">Login</a>
{#                                                    <a href='https://apps.atele.org/register'#}
{#                                                       class="btn btn-xs hidden-xs btn-default">Try Demo</a>#}
{#                                                    <a href='https://apps.atele.org/register'#}
{#                                                       class="btn btn-xs visible-xs btn-block btn-default">Try Demo</a>#}
                                                </div>
                                            </div>

                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        {#			{% endcache %}#}
    {% endblock header %}
    {% block body %}
    {% endblock body %}
    {% cache 600, "main", "layout", "footer" %}
        <footer id="footer" class="clearfix dark">
            <div class="footer">
                <div class="container">
                    <div class="footer-inner">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="footer-content text-center padding-ver-clear">
                                    <div class="logo-footer"><img id="logo-footer" class="center-block"
                                                                  src="/static/images/small_rsz_atele_logo.png"
                                                                  alt="Atele Logo"></div>

                                    <ul class="list-inline mb-20">
                                        <li><i class="text-default fa fa-map-marker pr-5"></i>Lagos State, Nigeria</li>
                                        <li><a href="tel:+2348130107796" class="link-dark"><i
                                                class="text-default fa fa-phone pl-10 pr-5"></i>+234 813 010 7796</a>&nbsp;&nbsp;&nbsp;
                                            | <a href="tel:+2347057784399" class="link-dark">+234 705 778 4399</a>&nbsp;&nbsp;&nbsp;
                                            | <a href="tel:+2347032652411" class="link-dark">+234 703 265 2411</a></li>
                                        <li><a href="mailto:inquiries@atele.org" class="link-dark"><i
                                                class="text-default fa fa-envelope-o pl-10 pr-5"></i>inquiries@atele.org</a>
                                        </li>
                                    </ul>
                                    <ul class="social-links circle animated-effect-1 margin-clear">
                                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i
                                                class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i
                                                class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                    <div class="separator"></div>
                                    <p class="text-center margin-clear">Copyright © {{ today.strftime("%Y") }} by <a
                                            href="/">Atele</a>. All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endcache %}
</div>
{% cache 600, "main", "layout", "scripts" %}
    {% assets "main-global-js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endcache %}
<!-- Start of Async Drift Code -->
<script>
    !function () {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                t.factory = function (e) {
                    return function () {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function (e) {
                t[e] = t.factory(e);
            }), t.load = function (t) {
                var e, n, o, i;
                e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('6s2bntm5ma6n');
</script>
<!-- End of Async Drift Code -->
</body>
</html>
