{% extends "client/general/list/accounts.html" %}
{% block breadcrumbs %}
        <div id="breadcrumbs" class="container-fluid">
            <ul id="action_navs">
                <li class="action_nav_item"><a  href="{{ url_for('.accounts') }}">Users</a></li>
                <li class="action_nav_item"><a href="{{ url_for('.new_account') }}"><i class="fa fa-plus"></i> Add
                    User</a></li>
            </ul>
            <span>Update User</span>
        </div>
    {% endblock %}
{% block inner_body %}
    <div class="form col-md-12">
        <div class="col-md-8">
            <form method="post" action="{{ request.path }}">
                {{ form.csrf_token }}
                <div class="wrap half">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" value="{{ user_account.address.first_name }}" required>
                        <input type="hidden" name="email" value="{{ user_account.email }}">
                        {% if form.errors.first_name %}
                            <span style="color: red">{{ form.errors.first_name[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" value="{{ user_account.address.last_name }}">
                        {% if form.errors.last_name %}
                            <span style="color: red">{{ form.errors.first_name[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap full">
                    <div class="form-group">
                        <label for="line1">Street Location</label>
                        <input type="text" name="line1" value="{{ user_account.address.line1 }}" required>
                        {% if form.errors.line1 %}
                            <span style="color: red">{{ form.errors.line1[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group">
                        <label for="line2">LandMark</label>
                        <input type="text" name="line2"
                               value="{% if user_account.address.line2 %}{{ user_account.address.line2 }}{% endif %}">
                        {% if form.errors.line2 %}
                            <span style="color: red">{{ form.errors.line2[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="line2">Phone</label>
                        <input type="text" name="phone"
                               value="{% if user_account.address.phone %}{{ user_account.address.phone }}{% endif %}"
                               required>
                        {% if form.errors.phone %}
                            <span style="color: red">{{ form.errors.phone[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap third">
                    <div class="form-group has-feedback">
                        <label class="control-label">Country</label>
                        <select name="country_id" id="country" required>
                            {% for country in countries %}
                                <option value="{{ country.id }}"
                                        {% if user_account.address.country_id == country.id %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                        <i class="form-control-feedback"></i>
                        {% if form.errors.country_id %}
                            <span style="color: red">{{ form.errors.country_id[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">State</label>
                        <select name="state_id" id="state" required>
                            {% for state in states %}
                                <option value="{{ state.id }}"
                                        {% if user_account.address.state_id == state.id %}selected{% endif %}>{{ state.name }}</option>
                            {% endfor %}
                        </select>
                        <i class="form-control-feedback"></i>
                        {% if form.errors.state_id %}
                            <span style="color: red">{{ form.errors.state_id[0] }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label">City</label>
                        <select name="city_id" id="city" required>
                            {% for city in cities %}
                                <option value="{{ city.id }}"
                                        {% if user_account.address.city_id == city.id %}selected{% endif %}>{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <i class="form-control-feedback"></i>
                        {% if form.errors.city_id %}
                            <span style="color: red">{{ form.errors.city_id[0] }}</span>
                        {% endif %}
                    </div>
                </div>
                {% if form.access_group_ids.choices|length > 0 %}
                    <div class="wrap full">
                        <div class="form-group">
                            <label for="line1">Access Groups</label>

                            <div class="checkbox-list">
                                {% for subfield in form.access_group_ids %}
                                    <label style="font-weight: bold;" class="checkbox-list inline">
                                        {{ subfield }} {{ subfield.label.text }}
                                    </label>
                                {% endfor %}
                            </div>
                            {% if form.access_group_ids.errors %}
                                {% for e in form.access_group_ids.errors %}<span class="help-block">{{ e }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {#                <div class="wrap full">#}
                {#                    <div class="form-group has-feedback">#}
                {#                        <label class="control-label">Name</label>#}
                {#                        <select name="manager_id" ng-model="form.manager_id" required>#}
                {#                            <option ng-repeat="user in data.users" ng-value="user.id">[[ user.address.first_name ]] [[user.address.last_name]]</option>#}
                {#                        </select>#}
                {#                        <i class="form-control-feedback"></i>#}
                {#                        <span style="color: red" ng-show="data.error.manager_id" ng-bind="data.error.manager_id[0]"></span>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="wrap full">#}
                {#                    <div class="form-group">#}
                {#                        <label for="name">Name</label>#}
                {#                        <input type="text" name="name" ng-model="form.name" placeholder="e.g. Ota Power Plant" required>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>
                Description Details
            </h3>

            <p>Update account information</p>
        </div>
    </div>
{% endblock %}
{% block page_js %}
    <script>
        $(document).ready(function () {
            changeCities();
        });
        function changeCities() {
            var selected = $('#state option:selected').val();
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/fetch/state_cities/",
                data: selected,
                dataType: 'json',
                beforeSend: function () {
                    $("#city").empty();
                },
                success: function (data) {
                    {#                    $("#city").append("<option>--Select--</option>");#}
                    data.map(function (i) {
                        $("#city").append("<option value=\"" + i.id + "\">" + i.name + "</option>");
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            return false;
        }
        $('#state').change(function () {
            changeCities();
        })
    </script>
{% endblock %}
