<ui-view>
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">
                <li class="action_nav_item"><a ui-sref="installation_details({id: installation.id})"
               >
                &nbsp;OVERVIEW</a></li>
                <li class="action_nav_item"><a ui-sref="installation_requests({id: installation.id})" ng-show="device_requests.length > 0"
               >
                <sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a></li>
                <li class="action_nav_item"><a ui-sref="installation_devices({id: installation.id})" ><i
                    class="fa fa-gears" aria-hidden="true"></i>&nbsp;DEVICES</a></li>
                <li class="action_nav_item"><a ui-sref="devices_new({id: installation.id})" ><i
                    class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD DEVICE
            </a></li>
                <li class="action_nav_item" ><a ui-sref="installation_alerts({id: installation.id})"><i
                    class="fa fa-bell-o"
                    aria-hidden="true"></i>&nbsp;ALERTS</a></li>
                <li class="action_nav_item" ><a class="active" ui-sref="alerts_new({id: installation.id})"><i
                    class="fa fa-plus"
                    aria-hidden="true"></i> ADD ALERTS</a></li>
                <li class="action_nav_item"><a ui-sref="installation_reports({id: installation.id})"><i
                    class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;REPORTS</a></li>
            </ul>
            <span ng-bind="installation.code"></span>
        </div>
    <div class="form col-md-12">
        <div class="col-md-8">
            <div class="wrap full">
                <span style="color: red" ng-show="data.error.message" ng-bind="data.error.message"></span>
            </div>
            <form method="post" ng-submit="save()">
                <div class="wrap full">
                    <div class="form-group has-feedback">
                        <label class="control-label">Alert Type</label>
                        <select name="alert_type_id" ng-model="formData.alert_type_id" required>
                            <option value="">Select Alert Type</option>
                            <option ng-repeat="alert_type in alert_types" ng-value="alert_type.id">[[
                                alert_type.parameter ]] | [[alert_type.description]]
                            </option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.alert_type_id"
                              ng-bind="data.error.alert_type_id[0]"></span>
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group has-feedback">
                        <label class="control-label">Device
                            <span class="pull-right"><a class="btn-xs btn-outline" ui-sref="devices_new({id: installation.id})"
                                                        style="color: #FC6E06;"><i class="fa fa-plus"></i>&nbsp;New
                                Device</a></span>
                        </label>
                        <select name="device_id" ng-model="formData.device_id" required>
                            <option value="">Select Device</option>
                            <option ng-repeat="device in installation.devices" ng-value="device.id">[[device.code ]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.device_id"
                              ng-bind="data.error.device_id[0]"></span>
                    </div>
                    <div class="form-group">
                        <label for="threshold">Threshold</label>
                        <input type="number" name="threshold" ng-model="formData.threshold" placeholder="e.g. 14.00"
                               required>
                        <span style="color: red" ng-show="data.error.line1" ng-bind="data.error.line1[0]"></span>
                    </div>
                </div>
                <div class="wrap full">
                    <div class="form-group">
                        <label for="level">ALERT LEVEL</label>
                        <md-radio-group ng-model="formData.level">
                            <md-radio-button value="warning" class="md-primary" required>Warning?</md-radio-button>
                            <md-radio-button value="critical" class="md-danger"> Critical?</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
{#                <div class="wrap full">#}
{#                    <div class="form-group check">#}
{#                        <md-checkbox ng-model="formData.is_sms" aria-label="Checkbox 1">#}
{#                            <label for="is_email">#}
{#                                SMS Notification#}
{#                                <span>turn on sms notifications</span>#}
{#                            </label>#}
{#                        </md-checkbox>#}
{#                        <span style="color: red" ng-show="data.error.is_sms" ng-bind="data.error.is_sms[0]"></span>#}
{#                    </div>#}
{#                    <div class="form-group check">#}
{#                        <md-checkbox ng-model="formData.is_email" aria-label="Checkbox 1">#}
{#                            <label for="is_email">#}
{#                                Email Notification#}
{#                                <span>turn on email notifications</span>#}
{#                            </label>#}
{#                        </md-checkbox>#}
{#                        <span style="color: red" ng-show="data.error.is_email" ng-bind="data.error.is_email[0]"></span>#}
{#                    </div>#}
{#                    <div class="form-group check">#}
{#                        <md-checkbox ng-model="formData.is_device" aria-label="Checkbox 1">#}
{#                            <label for="is_email">#}
{#                                Buzzer Notification#}
{#                                <span>turn on buzzer notifications</span>#}
{#                            </label>#}
{#                        </md-checkbox>#}
{#                        <span style="color: red" ng-show="data.error.is_device" ng-bind="data.error.is_device[0]"></span>#}
{#                    </div>#}
{#                </div>#}
                <div class="wrap full">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>
                Description Details
            </h3>

            <p>Setup an Alert</p>
        </div>
    </div>
</ui-view>
