<ui-view>
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">

            </ul>
            <span>add customer</span>
        </div>
    <div class="form col-md-12">
        <div class="col-md-8">
            <form method="post" ng-submit="send()">
                <div class="wrap half">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" ng-model="deviceForm.first_name" placeholder="Fred" required>
                         <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.first_name" ng-bind="data.error.first_name[0]"></span>
                    </div>
                     <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" ng-model="deviceForm.last_name" placeholder="Amata" required>
                         <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.last_name" ng-bind="data.error.last_name[0]"></span>
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" ng-model="deviceForm.email" placeholder="fred@amata.com" required>
                         <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.email" ng-bind="data.error.email[0]"></span>
                    </div>
                     <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" name="phone" ng-model="deviceForm.phone" placeholder="+243567899098" required>
                         <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.phone" ng-bind="data.error.phone[0]"></span>
                    </div>
                </div>
                <div class="wrap full">
                    <div class="form-group">
                        <label for="line1">Line 1</label>
                        <input type="text" name="line1" ng-model="deviceForm.line1" placeholder="14, Ebinpejo Lane" required>
                         <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.line1" ng-bind="data.error.line1[0]"></span>
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group">
                        <label for="line2">Landmark</label>
                        <input type="text" name="line2" ng-model="deviceForm.line2" placeholder="National Theatre">
                         <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.line2" ng-bind="data.error.line2[0]"></span>
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <select name="city_id" ng-model="deviceForm.country_id" ng-change="changeStates()" required>
                            <option value="">Select Country</option>
                            <option ng-repeat="country in countries" ng-value="country.id">[[country.name]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.country_id" ng-bind="data.error.country_id[0]"></span>
                    </div>
                </div>
                <div class="wrap half">
                    <div class="form-group">
                        <label>State</label>
                        <select name="city_id" ng-model="deviceForm.state_id" ng-change="changeCities()" required>
                            <option value="">Select State</option>
                            <option ng-repeat="state in states" ng-value="state.id">[[state.name]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.state_id" ng-bind="data.error.state_id[0]"></span>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select name="city_id" ng-model="deviceForm.city_id" required>
                            <option value="">Select City</option>
                            <option ng-repeat="city in cities" ng-value="city.id">[[city.name]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.city_id" ng-bind="data.error.city_id[0]"></span>
                    </div>
                </div>
                <div class="wrap third">
                    <div class="form-group">
                        <label>Stations</label>
                        <select name="product_id" ng-model="deviceForm.station_id" required>
                            <option value="">Select Station</option>
                            <option ng-repeat="station in stations" ng-value="station.id">[[station.name]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.station_id" ng-bind="data.error.station_id[0]"></span>
                    </div>
                    <div class="form-group">
                        <label>Networks</label>
                        <select name="product_id" ng-model="deviceForm.network_id" required>
                            <option value="">Select Network</option>
                            <option ng-repeat="network in networks" ng-value="network.id">[[network.code]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.network_id" ng-bind="data.error.network_id[0]"></span>
                    </div>
                    <div class="form-group">
                        <label>Product</label>
                        <select name="product_id" ng-model="deviceForm.product_id" required>
                            <option value="">Select Product</option>
                            <option ng-repeat="product in products" ng-value="product.id">[[product.name]] | [[product.code]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.product_id" ng-bind="data.error.product_id[0]"></span>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                Description Details
            </p>
        </div>
    </div>
</ui-view>
