<ui-view>
    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">
                <li class="action_nav_item"><a ui-sref="installation_details({id: installation.id})"
               >
                &nbsp;OVERVIEW</a></li>
                <li class="action_nav_item"><a ui-sref="installation_requests({id: installation.id})" ng-show="device_requests.length > 0"
               >
                <sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a></li>
                <li class="action_nav_item"><a ui-sref="installation_devices({id: installation.id})" ><i
                    class="fa fa-gears" aria-hidden="true"></i>&nbsp;DEVICES</a></li>
                <li class="action_nav_item"><a class="active" ui-sref="devices_new({id: installation.id})" ><i
                    class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD DEVICE
            </a></li>
                <li class="action_nav_item" ><a ui-sref="installation_alerts({id: installation.id})"><i
                    class="fa fa-bell-o"
                    aria-hidden="true"></i>&nbsp;ALERTS</a></li>
                <li class="action_nav_item" ><a ui-sref="alerts_new({id: installation.id})"><i
                    class="fa fa-plus"
                    aria-hidden="true"></i> ADD ALERTS</a></li>
                <li class="action_nav_item"><a ui-sref="installation_reports({id: installation.id})"><i
                    class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;REPORTS</a></li>
            </ul>
            <span ng-bind="installation.code"></span>
        </div>
    <div class="form col-md-12">
        <div class="col-md-8">
            <h6>Request New Device</h6>
            <form method="post" ng-submit="send()">
                <div class="wrap">
                    <div class="form-group">
                        <label>Product</label>
                        <select name="product_id" ng-model="deviceForm.product_id" required>
                            <option value="">Select Product</option>
                            <option ng-repeat="product in products" ng-value="product.id">[[product.name]] | [[product.code]]</option>
                        </select>
                        <i class="form-control-feedback"></i>
                        <span style="color: red" ng-show="data.error.product_id" ng-bind="data.error.product_id[0]"></span>
                    </div>
                </div>
                <div class="wrap">
                    <div class="form-group actions pull-right">
                        <input type="submit" name="name" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <p>
                Description Details
            </p>
        </div>
    </div>
</ui-view>
