<ui-view id="detailPage">


    <div id="breadcrumbs" class="container-fluid" style="margin-top: -32px;">
            <ul id="action_navs">
                <li class="action_nav_item"><a class="active" ui-sref="installation_details({id: obj.id})"
               >
                &nbsp;OVERVIEW</a></li>
                <li class="action_nav_item"><a ui-sref="installation_requests({id: installation.id})" ng-show="device_requests.length > 0"
               >
                <sup class="badge" ng-bind="device_requests.length"></sup>&nbsp;REQUESTS</a></li>
                <li class="action_nav_item"><a ui-sref="installation_devices({id: installation.id})" ><i
                    class="fa fa-gears" aria-hidden="true"></i>&nbsp;DEVICES</a></li>
                <li class="action_nav_item"><a ui-sref="devices_new({id: installation.id})" ><i
                    class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD DEVICE
            </a></li>
                <li class="action_nav_item" ><a ui-sref="installation_alerts({id: installation.id})"><i
                    class="fa fa-bell-o"
                    aria-hidden="true"></i>&nbsp;ALERTS</a></li>
                <li class="action_nav_item" ><a ui-sref="alerts_new({id: installation.id})"><i
                    class="fa fa-plus"
                    aria-hidden="true"></i> ADD ALERTS</a></li>
                <li class="action_nav_item"><a ui-sref="installation_reports({id: installation.id})"><i
                    class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;REPORTS</a></li>
            </ul>
            <span ng-bind="installation.code"></span>
        </div>

    <div class="row c_g_r">
        <div class="col-sm-8">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Active Devices
                    <small style="float: right">
                        <a ui-sref="installation_devices({id: installation.id})">View All</a> |
                        <a ui-sref="devices_new({id: installation.id})">Add New</a>
                    </small>
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="active_devices.length > 0">
                        <div class="thead tr">
                            <span class="td">code</span>
                            <span class="td center">Status</span>
                        </div>
                        <div class="tr" ng-repeat="obj in active_devices">
                            <span class="td">
                                <span>[[ obj.code ]]</span><br>
                                <small>[[ obj.date_created | date ]]</small>
                            </span>
{#                             <span class="td center" ng-show="obj.is_active">#}
{#                                 <button class="btn-xs btn-danger">DEACTIVATE</button>#}
{#                             </span>#}
{#                            <span class="td center" ng-hide="obj.is_active">#}
{#                                <button class="btn-xs btn-success">ACTIVATE</button>#}
{#                            </span>#}
                        </div>
                    </div>
                    <div class="tr" id="empty_list_box" ng-hide="active_devices.length > 0">
                        <h3 style="text-align: center;">
                            <a ui-sref="devices_new({id:installation.id})"
                               style="font-size: 30px; color: lightgrey;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                <span>request device</span>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Connected Devices
                </div>
                <div class="chart-stage">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#46b8da;">
                        [[ active_count ]]</h1>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Active Alerts
                    <small style="float: right"><a ui-sref="installation_alerts({id: installation.id})">View All</a></small>
                </div>
                <div class="chart-stage">
                    <h1 style="text-align: center;vertical-align: middle;line-height: 165px;font-size: 4rem;color:#47a447;">
                        [[ alerts.length ]]</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row c_g_r" ng-show="faults.length > 0">
        <div class="col-sm-12">
            <div class="chart-wrapper" style="min-height: 219px; max-height: 219px;overflow-y: hidden;">
                <div class="chart-title">
                    Fault Patterns
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div class="table" ng-show="devices.length > 0">
                        <div class="thead tr">
                            <span class="td"></span>
                            <span class="td">device</span>
                            <span class="td">level</span>
                            <span class="td">date</span>
                        </div>
                        <div class="tr" ng-repeat="rec in faults">
                            <span class="td" ng-bind="rec.body"></span>
                            <span class="td" ng-bind="rec.device"></span>
                            <span class="td" ng-bind="rec.level"></span>
                            <span class="td center" ng-bind="rec.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 15px"></div>

    <div class="row c_g_r" ng-repeat="device in installation.active_devices">
        <div class="row c_g_r" style="margin-bottom: 10px; height: 50px; ">
            <div style="float: left; margin-left: 20px">
                <button ng-click="deviceService.ping(device.code)" class="btn-xs btn-success btn-circle">
                    PING!
                </button>
                <h7 ng-bind="device.code"></h7>
            </div>
        </div>
        <div ng-repeat="metric in device.product.metrics">
            <div class="col-sm-9">
                <div class="chart-wrapper">
                    <div class="chart-title">[[metric.name]] Events</div>
                    <div class="chart-stage" id="#[[device.code]]-[[metric.name]]Chart" style="width: 100%;height:275px;"></div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="chart-wrapper">
                    <div class="chart-stage">
                        <div class="row">
                            <div class="">
                                <div class="chart-title" style="text-align: center;">
                                    [[metric.name]] Reading in [[metric.dimension]]
                                </div>
                                <div class="chart-stage" id="#[[device.code]]-[[metric.name]]Gauge" style="width: 100%;height:247px;"></div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        (function blink() {
            $('.pulse').fadeOut(500).fadeIn(500, blink);
        })();

        var scope = angular.element($('#detailPage')).scope();

        if (scope.active_devices) {

            setTimeout(function () {
                var installation = scope.installation;
                $.each(installation.active_devices, function (pos, dev) {
                    $.each(dev.product.metrics, function (num, metric) {
                        metric.gaugeChart, metric.gaugeOption = scope.buildGauge(dev.code, metric.name, metric.dimension);
                        metric.mapChart, metric.mapOption = scope.buildChart(dev.code, metric.name, metric.dimension)
                    });
                });
            }, 1000);
        }

    </script>
</ui-view>
