<ui-view>
    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-stage">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="chart-title">
                                Temperature
                            </div>
                            <div class="chart-stage">
                                <input type="text" id="chart-01" value="0"/>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="chart-title">
                                Humidity
                            </div>
                            <div class="chart-stage">
                                <input type="text" id="chart-02" value="0"/>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="chart-title">
                                Light
                            </div>
                            <div class="chart-stage">
                                <input type="text" id="chart-03" value="0"/>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="chart-title">
                                Sound
                            </div>
                            <div class="chart-stage">
                                <input type="text" id="chart-04" value="0"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row c_g_r">
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Incident/Fault Map
                </div>
                <div class="chart-stage chart-map-large" style="height: 100%;">
                    <div id="barChart" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    System Status
                </div>
                <div class="chart-stage chart-map-small">
                    <div id="gaugeChart" style="width: 100%;height:180px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Connected Devices
                </div>
                <div class="chart-stage chart-map-small">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    System Status
                </div>
                <div class="chart-stage chart-map-small">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    System Status
                </div>
                <div class="chart-stage chart-map-small">
                </div>
            </div>
        </div>
    </div>

    <div class="row c_g_r">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Mesh Map
                </div>
                <div class="chart-stage chart-map-large">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
    </div>

    <div class="row c_g_r">
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Voltage Events
                </div>
                <div class="chart-stage chart-map-large">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Current Events
                </div>
                <div class="chart-stage chart-map-large">
                </div>
                <div class="chart-notes">
                    Notes about this chart
                </div>
            </div>
        </div>
    </div>
    <div class="row c_g_r">

        <div class="col-sm-8">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Pageviews by browser (past 24 hours)
                </div>
                <div class="chart-stage">
                    <div id="chart-011"></div>
                </div>
                <div class="chart-notes">
                    This is a sample text region to describe this chart.
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Pageviews by browser (past 5 days)
                </div>
                <div class="chart-stage">
                    <div id="chart-022"></div>
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

    </div>

    <div class="row c_g_r">

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Impressions by advertiser
                </div>
                <div class="chart-stage">
                    <div id="chart-033"></div>
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Impressions by device
                </div>
                <div class="chart-stage">
                    <div id="chart-044"></div>
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Impressions by country
                </div>
                <div class="chart-stage">
                    <div id="chart-05"></div>
                </div>
                <div class="chart-notes">
                    Notes go down here
                </div>
            </div>
        </div>

    </div>

    <div class="row c_g_r">
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <img data-src="holder.js/100%x150/white">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/lib/holderjs/holder.js"></script>
    <script>
        Holder.add_theme("white", {background: "#fff", foreground: "#a7a7a7", size: 10});
    </script>
    <script type="text/javascript" src="/static/lib/jquery-knob/dist/jquery.knob.min.js"></script>
    <script type="text/javascript" src="/static/lib/keen-js/dist/keen.min.js"></script>
    <script type="text/javascript" src="/static/js/meta.js"></script>
    <script type="text/javascript">

        // ----------------------------------------
        var client = new Keen({
            projectId: "5915a8d53d5e15299e64941a",
            readKey: "42BEAC0157FFF0C51C6A57CF45A44304567630E0508443FA6DFC654D70B8F1F927D0147FD4E75C8082088BC49F299BFABBD1BEE5EE03410B5142BB9B557309D7DD1F258E2880C4167C6DDF35904F87946FEDB78BD650ACBAF3C776361C6A69F7"
        });

        Keen.ready(function () {
            // temp
            // ----------------------------------------

            var temperature = new Keen.Query("average", {
                eventCollection: "climate",
                targetProperty: "temp",
                timeframe: {
                    start: "2014-10-06T00:00:00.000",
                    end: "2014-10-07T00:00:00.000"
                }
                // timeframe: "today"
            });

            $("#chart-01").knob({
                'angleArc': 250,
                'angleOffset': -125,
                'readOnly': true,
                'min': 0,
                'max': 120,
                'fgColor': Keen.Dataviz.defaults.colors[1]
            });

            client.run(temperature, function (err, res) {
                $("#chart-01").val(res.result).trigger('change');
            });

            // ----------------------------------------
            // humidity
            // ----------------------------------------

            var humidity = new Keen.Query("average", {
                eventCollection: "climate",
                targetProperty: "humidity",
                timeframe: {
                    start: "2014-10-06T00:00:00.000",
                    end: "2014-10-07T00:00:00.000"
                }
                // timeframe: "today"
            });

            $("#chart-02").knob({
                'angleArc': 250,
                'angleOffset': -125,
                'readOnly': true,
                'min': 0,
                'max': 50,
                'fgColor': Keen.Dataviz.defaults.colors[0]
            });

            client.run(humidity, function (err, res) {
                $("#chart-02").val(res.result).trigger('change');
            });

            // ----------------------------------------
            // Light
            // ----------------------------------------

            var light = new Keen.Query("average", {
                eventCollection: "climate",
                targetProperty: "light",
                timeframe: {
                    start: "2014-10-06T00:00:00.000",
                    end: "2014-10-07T00:00:00.000"
                }
                // timeframe: "today"
            });

            $("#chart-03").knob({
                'angleArc': 250,
                'angleOffset': -125,
                'readOnly': true,
                'step': 0.01,
                'min': 0,
                'max': 50,
                'fgColor': Keen.Dataviz.defaults.colors[2]
            });

            client.run(light, function (err, res) {
                $("#chart-03").val(res.result * 100).trigger('change');
            });

            // ----------------------------------------
            // Sound
            // ----------------------------------------

            var sound = new Keen.Query("average", {
                eventCollection: "climate",
                targetProperty: "sound",
                timeframe: {
                    start: "2014-10-06T00:00:00.000",
                    end: "2014-10-07T00:00:00.000"
                }
                // timeframe: "today"
            });

            $("#chart-04").knob({
                'angleArc': 250,
                'angleOffset': -125,
                'readOnly': true,
                'step': 0.01,
                'min': 0,
                'max': 100,
                'fgColor': Keen.Dataviz.defaults.colors[3]
            });

            client.run(sound, function (err, res) {
                $("#chart-04").val(res.result * 100).trigger('change');
            });

            // ----------------------------------------
            // Pageviews Area Chart
            // ----------------------------------------
            var pageviews_timeline = new Keen.Query("count", {
                eventCollection: "pageviews",
                interval: "hourly",
                groupBy: "user.device_info.browser.family",
                timeframe: {
                    start: "2014-05-04T00:00:00.000Z",
                    end: "2014-05-05T00:00:00.000Z"
                }
            });
            client.draw(pageviews_timeline, document.getElementById("chart-011"), {
                chartType: "areachart",
                title: false,
                height: 250,
                width: "auto",
                chartOptions: {
                    chartArea: {
                        height: "85%",
                        left: "5%",
                        top: "5%",
                        width: "80%"
                    },
                    isStacked: true
                }
            });

            // ----------------------------------------
            // Pageviews Pie Chart
            // ----------------------------------------
            var pageviews_static = new Keen.Query("count", {
                eventCollection: "pageviews",
                groupBy: "user.device_info.browser.family",
                timeframe: {
                    start: "2014-05-01T00:00:00.000Z",
                    end: "2014-05-05T00:00:00.000Z"
                }
            });
            client.draw(pageviews_static, document.getElementById("chart-022"), {
                chartType: "piechart",
                title: false,
                height: 250,
                width: "auto",
                chartOptions: {
                    chartArea: {
                        height: "85%",
                        left: "5%",
                        top: "5%",
                        width: "100%"
                    },
                    pieHole: .4
                }
            });

            // ----------------------------------------
            // Impressions timeline
            // ----------------------------------------
            var impressions_timeline = new Keen.Query("count", {
                eventCollection: "impressions",
                groupBy: "ad.advertiser",
                interval: "hourly",
                timeframe: {
                    start: "2014-05-04T00:00:00.000Z",
                    end: "2014-05-05T00:00:00.000Z"
                }
            });
            client.draw(impressions_timeline, document.getElementById("chart-033"), {
                chartType: "columnchart",
                title: false,
                height: 250,
                width: "auto",
                chartOptions: {
                    chartArea: {
                        height: "75%",
                        left: "10%",
                        top: "5%",
                        width: "60%"
                    },
                    bar: {
                        groupWidth: "85%"
                    },
                    isStacked: true
                }
            });

            // ----------------------------------------
            // Impressions timeline (device)
            // ----------------------------------------
            var impressions_timeline_by_device = new Keen.Query("count", {
                eventCollection: "impressions",
                groupBy: "user.device_info.device.family",
                interval: "hourly",
                timeframe: {
                    start: "2014-05-04T00:00:00.000Z",
                    end: "2014-05-05T00:00:00.000Z"
                }
            });
            client.draw(impressions_timeline_by_device, document.getElementById("chart-044"), {
                chartType: "columnchart",
                title: false,
                height: 250,
                width: "auto",
                chartOptions: {
                    chartArea: {
                        height: "75%",
                        left: "10%",
                        top: "5%",
                        width: "60%"
                    },
                    bar: {
                        groupWidth: "85%"
                    },
                    isStacked: true
                }
            });

            // ----------------------------------------
            // Impressions timeline (country)
            // ----------------------------------------
            var impressions_timeline_by_country = new Keen.Query("count", {
                eventCollection: "impressions",
                groupBy: "user.geo_info.country",
                interval: "hourly",
                timeframe: {
                    start: "2014-05-04T00:00:00.000Z",
                    end: "2014-05-05T00:00:00.000Z"
                }
            });
            client.draw(impressions_timeline_by_country, document.getElementById("chart-05"), {
                chartType: "columnchart",
                title: false,
                height: 250,
                width: "auto",
                chartOptions: {
                    chartArea: {
                        height: "75%",
                        left: "10%",
                        top: "5%",
                        width: "60%"
                    },
                    bar: {
                        groupWidth: "85%"
                    },
                    isStacked: true
                }
            });

        });

    </script>
    <script type="text/javascript">
        // Echarts Graphs and Charts
        // based on prepared DOM, initialize echarts instance
        var barChart = echarts.init(document.getElementById('barChart'));

        // specify chart configuration item and data
        var barChartOption = {
            'series': [
                {
                    'type': 'bar',
                    'data': [2, 3, 4, 5, 6, 7, 5, 6],
                    'name': 'Atele'
                }
            ],
            'yAxis': [{}],
            'legend': {'y': 'top', 'x': 'center', 'data': ['Faulty'], 'orient': 'horizontal'},
            'xAxis': [
                {
                    'position': 'bottom',
                    'data': ['Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                    'type': 'category'
                }
            ],
            'title': {
                'text': 'Faulty Devices',
                'subtext': ''
            }
        };
        // use configuration item and data specified to show chart
        barChart.setOption(barChartOption);

        var gaugeChart = echarts.init(document.getElementById('gaugeChart'));

        // specify chart configuration item and data
        var gaugeChartOption = {
            title: {
                text: 'Gauge'
            },
            series: [{
                name: 'Gauge',
                type: 'gauge',
                animationEasing: name,
                animationDuration: 1000
            }]
        };

        // use configuration item and data specified to show chart
        gaugeChart.setOption(gaugeChartOption);
    </script>
</ui-view>
