    {#    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
    {#        <div class="container-fluid">#}
    {#            <div class="navbar-header">#}
    {#                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
    {#                    <span class="sr-only">Toggle navigation</span>#}
    {#                    <span class="icon-bar"></span>#}
    {#                    <span class="icon-bar"></span>#}
    {#                    <span class="icon-bar"></span>#}
    {#                </button>#}
    {#                <a class="navbar-brand" href="../">#}
    {#                    <span class="glyphicon glyphicon-chevron-left"></span>#}
    {#                </a>#}
    {#            </div>#}
    {#            <div class="navbar-collapse collapse">#}
    {#                <ul class="nav navbar-nav navbar-left">#}
    {#                    <li><a href="https://keen.io">Home</a></li>#}
    {#                    <li><a href="https://keen.io/team">Team</a></li>#}
    {#                    <li><a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-sidebar">Source</a>#}
    {#                    </li>#}
    {#                    <li><a href="https://groups.google.com/forum/#!forum/keen-io-devs">Community</a></li>#}
    {#                    <li><a href="http://stackoverflow.com/questions/tagged/keen-io?sort=newest&pageSize=15">Technical#}
    {#                        Support</a></li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="container-fluid">#}
    {##}
    {#        <div class="row">#}
    {#            <div class="col-sm-3">#}
    {#                <div class="chart-wrapper">#}
    {#                    <div class="chart-title">#}
    {#                        Cell Title#}
    {#                    </div>#}
    {#                    <div class="chart-stage">#}
    {#                        <img data-src="holder.js/100%x650/white">#}
    {#                    </div>#}
    {#                    <div class="chart-notes">#}
    {#                        Notes about this chart#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-sm-9">#}
    {#                <div class="row">#}
    {#                    <div class="col-sm-12">#}
    {#                        <div class="chart-wrapper">#}
    {#                            <div class="chart-title">#}
    {#                                Cell Title#}
    {#                            </div>#}
    {#                            <div class="chart-stage">#}
    {#                                <img data-src="holder.js/100%x240/white">#}
    {#                            </div>#}
    {#                            <div class="chart-notes">#}
    {#                                Notes about this chart#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="row">#}
    {#                    <div class="col-sm-4">#}
    {#                        <div class="chart-wrapper">#}
    {#                            <div class="chart-title">#}
    {#                                Cell Title#}
    {#                            </div>#}
    {#                            <div class="chart-stage">#}
    {#                                <img data-src="holder.js/100%x120/white">#}
    {#                            </div>#}
    {#                            <div class="chart-notes">#}
    {#                                Notes about this chart#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-sm-4">#}
    {#                        <div class="chart-wrapper">#}
    {#                            <div class="chart-title">#}
    {#                                Cell Title#}
    {#                            </div>#}
    {#                            <div class="chart-stage">#}
    {#                                <img data-src="holder.js/100%x120/white">#}
    {#                            </div>#}
    {#                            <div class="chart-notes">#}
    {#                                Notes about this chart#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-sm-4">#}
    {#                        <div class="chart-wrapper">#}
    {#                            <div class="chart-title">#}
    {#                                Cell Title#}
    {#                            </div>#}
    {#                            <div class="chart-stage">#}
    {#                                <img data-src="holder.js/100%x120/white">#}
    {#                            </div>#}
    {#                            <div class="chart-notes">#}
    {#                                Notes about this chart#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="row">#}
    {#                    <div class="col-sm-4">#}
    {#                        <div class="chart-wrapper">#}
    {#                            <div class="chart-title">#}
    {#                                Cell Title#}
    {#                            </div>#}
    {#                            <div class="chart-stage">#}
    {#                                <img data-src="holder.js/100%x120/white">#}
    {#                            </div>#}
    {#                            <div class="chart-notes">#}
    {#                                Notes about this chart#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-sm-4">#}
    {#                        <div class="chart-wrapper">#}
    {#                            <div class="chart-title">#}
    {#                                Cell Title#}
    {#                            </div>#}
    {#                            <div class="chart-stage">#}
    {#                                <img data-src="holder.js/100%x120/white">#}
    {#                            </div>#}
    {#                            <div class="chart-notes">#}
    {#                                Notes about this chart#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-sm-4">#}
    {#                        <div class="chart-wrapper">#}
    {#                            <div class="chart-title">#}
    {#                                Cell Title#}
    {#                            </div>#}
    {#                            <div class="chart-stage">#}
    {#                                <img data-src="holder.js/100%x120/white">#}
    {#                            </div>#}
    {#                            <div class="chart-notes">#}
    {#                                Notes about this chart#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="container-fluid">#}
    {#        <div class="row m-b-2">#}
    {#            <div class="col-lg-3">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title">Active Users</h4>#}
    {#                    <div id="users-device-doughnut-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-lg-3">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title">Medium</h4>#}
    {#                    <div id="users-medium-pie-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-lg-3">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title">Categories</h4>#}
    {#                    <div id="users-category-pie-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-lg-3">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title">Assets</h4>#}
    {#                    <div id="users-device-doughnut-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- /1st row -->#}
    {##}
    {#        <!-- 2nd row -->#}
    {#        <div class="row">#}
    {#            <div class="col-lg-6">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title m-b-2">Page Views Per Minute</h4>#}
    {#                    <div id="page-views-per-minute-column-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-lg-6">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title m-b-2">Page Views Per Second</h4>#}
    {#                    <div id="page-views-per-second-column-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- /2nd row -->#}
    {##}
    {#        <!-- 3rd row -->#}
    {#        <div class="row">#}
    {#            <div class="col-md-12">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title">Location</h4>#}
    {#                    <div id="users-state-bar-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- /3rd row -->#}
    {##}
    {#        <!-- 1st row -->#}
    {#        <div class="row m-b-1">#}
    {#            <div class="col-md-12">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title m-b-2">Revenue - 2015 <span class="tag m-l-1"#}
    {#                                                                      id="revenue-tag">$2,781,450</span></h4>#}
    {#                    <div id="revenue-spline-area-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- /1st row -->#}
    {##}
    {##}
    {#        <!-- 2nd row -->#}
    {#        <div class="row m-b-1">#}
    {#            <div class="col-md-12">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title m-b-2">Revenue By Category</h4>#}
    {#                    <span class="tag custom-tag hidden-sm-down">Try clicking on any segment</span>#}
    {#                    <div class="row">#}
    {#                        <div class="col-md-4">#}
    {#                            <div id="annual-revenue-by-category-pie-chart"></div>#}
    {#                        </div>#}
    {#                        <div class="col-md-8 hidden-sm-down">#}
    {#                            <div id="monthly-revenue-by-category-column-chart"></div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <!-- /2nd row -->#}
    {##}
    {#        <!-- 3rd row -->#}
    {#        <!-- <div class="row">#}
    {#            <div class="col-xl-6">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title m-b-2">#}
    {#                        <span id="visitors-chart-heading">New vs Returning Visitors </span>#}
    {#                        <button class="btn pull-right invisible" type="button" id="visitors-chart-back-button"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i> Back</button>#}
    {#                    </h4>#}
    {#                    <span class="tag custom-tag" id="visitors-chart-tag">Try clicking on any segment</span>#}
    {#                    <div id="visitors-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-xl-6">#}
    {#                <div class="card card-block">#}
    {#                    <h4 class="card-title m-b-2">Users</h4>#}
    {#                    <div id="users-spline-chart"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div> -->#}
    {#        <!-- /3rd row -->#}
    {##}
    {#    </div>#}