<div class="tile {{ current_service.code }} service-nav-tile">
    <a class="service-nav-href" href="{{ url_for('.dashboard', slug=current_service.code) }}#!/">
        <span class="service-nav-span">
            <i class="fa fa fa-home"></i>
        </span>
        <div class="service-nav-name">Overview</div>
    </a>
</div>

<div class="tile {{ current_service.code }} service-nav-tile">
    <a class="service-nav-href" href="{{ url_for('.dashboard', slug=current_service.code) }}#!/networks">
        <span class="service-nav-span">
            <img class="service-nav-img" src="/static/images/icons/mesh.png" alt="networks"/>
        </span>
        <div class="service-nav-name">Networks</div>
    </a>
</div>

<div class="tile {{ current_service.code }} service-nav-tile">
    <a class="service-nav-href" href="{{ url_for('.dashboard', slug=current_service.code) }}#!/installations">
        <span class="service-nav-span">
            <img class="service-nav-img" src="/static/images/icons/devices.png" alt="Installations"/>
        </span>
        <div class="service-nav-name">Installations</div>
    </a>
</div>

<div class="tile {{ current_service.code }} service-nav-tile">
    <a class="service-nav-href" href="{{ url_for('.dashboard', slug=current_service.code) }}#!/customers">
        <span class="service-nav-span">
            <i class="fa fa-users"></i>
        </span>
        <div class="service-nav-name">Customers</div>
    </a>
</div>

{#<div class="tile {{ current_service.code }} service-nav-tile">#}
{#    <a class="service-nav-href" href="{{ url_for('.reports') }}">#}
{#        <span class="service-nav-span">#}
{#            <i class="fa fa-bar-chart-o"></i>#}
{#        </span>#}
{#        <div class="service-nav-name">Reports</div>#}
{#    </a>#}
{#</div>#}

{#                                    {% for current_nav in service_.navigations %}#}
{#                                        <div class="tile {{ service_.code }} service-nav-tile">#}
{#                                            <a class="service-nav-href"#}
{#                                               href="{{ url_for('.dashboard', slug=service_.code) }}#!{{ current_nav.url }}">#}
{#                                                    <span class="service-nav-span">#}
{#                                                        {% if current_nav.is_img %}#}
{#                                                            <img class="service-nav-img" src="{{ current_nav.icon }}" alt="{{ current_nav.name }}"/>#}
{#                                                        {% else %}#}
{#                                                            <i class="fa {{ current_nav.icon }}"></i>#}
{#                                                        {% endif %}#}
{#                                                    </span>#}
{#                                                <div class="service-nav-name">{{ current_nav.name }}</div>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
