<div class="row">
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ device.product.name }}</h5>
            <span>product</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{{ device.code }}</h5>
            <span>Code</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            <h5>{% if device.is_coordinator %}Coordinator{% elif device.is_node %}Node{% endif %}</h5>
            <span>Type</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rep_info_box dash">
            {% if device.is_active %}
                <h5 class="success">Active</h5>
            {% else %}
                <h5 class="danger">In-Active</h5>
            {% endif %}
            <span>Status</span>
        </div>
    </div>
</div>
<div>
    <div class="col-md-3 pull-right">
        <div class="rep_info_box chart_summary">
            {% if device.client %}
                <div class="item_rec">
                    <h7>Client</h7>
                    <span>{{ device.client.name }}</span>
                </div>
            {% endif %}
            {% if device.network %}
                <div class="item_rec">
                    <h7>Network</h7>
                    <span>{{ device.network.code }}</span>
                </div>
            {% endif %}
            {% if device.station %}
                <div class="item_rec">
                    <h7>Station</h7>
                    <span>{{ device.station.name }}</span>
                </div>
            {% endif %}
            {% if device.installation %}
                <div class="item_rec">
                    <h7>Installation</h7>
                    <span>{{ device.installation.title }}</span>
                </div>
            {% endif %}
            {% if device.point %}
                <div class="item_rec">
                    <h7>Longitude</h7>
                    <span>{{ device.point.longitude }} <i class="fa fa-map-marker"></i></span>
                </div>
                <div class="item_rec">
                    <h7>Latitude</h7>
                    <span>{{ device.point.latitude }} <i class="fa fa-map-marker"></i></span>
                </div>
            {% endif %}
                <div class="item_rec">
                    <h7>Last Ping</h7>
                    <span>{{ today.strftime('%b %d, %Y %H:%M %p') }}</span>
                </div>
        </div>
    </div>
</div>
