<style>
    .plain_btn_success {
        border: 1px solid #5cb85c;
        padding: 6px 10px;
        border-radius: 0;
        font-size: 13px;
        color: #5cb85c;
    }

    .plain_btn_danger {
        border: 1px solid #d9534f;
        padding: 6px 10px;
        border-radius: 0;
        font-size: 13px;
        color: #d9534f;
    }

</style>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="rep_info_box dash">
            <h3 class="text-success">{{ station.station_services|count }}</h3>
            <span><a href="{{ url_for('.station_services', obj_id=station.id) }}">Running Services</a></span>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="rep_info_box dash">
            <h3 class="text-info">{{ station.installations|count }}</h3>
            <span><a href="{{ url_for('.station_installations', obj_id=station.id) }}">Installations</a></span>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="rep_info_box dash">
            <h3 class="text-danger">{{ station.assignees|count }}</h3>
            <span><a href="{{ url_for('.station_workers', obj_id=station.id) }}">Station Workers</a></span>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="rep_info_box dash">
            <h3 class="atele">{{ station.networks|count }}</h3>
            <span><a href="{{ url_for('.station_networks', obj_id=station.id) }}">Networks</a></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">

        <div class="chart-wrapper">
            <div class="chart-title">
                <a href="{{ url_for('.station_alerts', obj_id=station.id) }}">Active Alerts</a>
            </div>
            <div class="chart-stage chart-map-large"
                 style="height: 100%;max-height: 225px; min-height: 225px; overflow-y: scroll;">
                {% set alerts = fetch_station_alerts(station.id) %}
                {% if alerts|length > 0 %}
                    <div class="table" style="margin-bottom: 0;">
                        <div class="thead tr">
                            <span class="td">code</span>
                            <span class="td">installation</span>
                            <span class="td">threshold</span>
                            <span class="td">level</span>
                        </div>
                        {% for alert in alerts %}
                            <div class="tr">
                                            <span class="td">
                                                {{ alert.code }}<br>
                                                <small>{{ alert.date_created.strftime('%Y-%m-%d %H:%M%:%S' ) }}</small>
                                            </span>
                                <span class="td">
                                                <a href="{{ url_for('.dashboard', slug=alert.service.code) }}#!/installations/{{ alert.installation.id }}">{{ alert.installation.code }}</a>
                                            </span>
                                <span class="td">{{ alert.threshold }}</span>
                                <span class="td">
                                                {% if alert.is_critical %}CRITICAL{% endif %}
                                    {% if alert.is_warning %}WARNING{% endif %}
                                            </span>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="table" style="margin-bottom: 0;">
                        <h3 class="text-center" style="margin-top: 3em">Everything is OK!</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    <div>
        <div class="col-sm-12 col-md-9" style="padding-left: 0;">
            <div class="chart-wrapper">
                <div class="chart-title">
                    <a href="{{ url_for('.station_faults', obj_id=station.id) }}">Fault Patterns</a>
                </div>
                <div class="chart-stage chart-map-large"
                     style="height: 100%;max-height: 225px; min-height: 225px; overflow-y: scroll;">
                    {% set faults = fetch_station_faults(station.id) %}
                    {% if faults|length > 0 %}
                        <div class="table" style="margin-bottom: 0;">
                            <div class="thead tr">
                                <span class="td">date</span>
                                <span class="td"></span>
                                <span class="td">device</span>
                                <span class="td">level</span>
                            </div>
                            {% for fault in faults %}
                                <div class="tr">
                                            <span class="td center">
                                                {{ fault.timestamp.strftime('%Y-%m-%d %H:%M%:%S' ) }}
                                            </span>
                                    <span class="td">
                                                {{ fault.body }}
                                            </span>
                                    <span class="td">{{ fault.device }}</span>
                                    <span class="td">{{ fault.level }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="table" style="margin-bottom: 0;">
                            <h3 class="text-center" style="margin-top: 3em">Everything is OK!</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3" style="padding-right: 0;">
            <div class="rep_info_box dash" style="padding: 20px;margin-bottom: 35px;">
                <h1 class="text-warning">{{ station.nodes|count }}</h1>
                <span>Active Nodes</span>
            </div>
        </div>

        <div class="col-sm-6 col-md-3" style="padding-right: 0;">
            <div class="rep_info_box dash" style="margin-bottom: 0;padding: 20px;">
                <h1 class="text-success">{{ station.devices|count }}</h1>
                <span>Devices</span>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-3">
        <h3 style="padding: 10px; margin-bottom: 20px;background: #fff;color:#9196aa;">
            {% if station.is_active %}
                <small class="pull-right btn btn-xs plain_btn_success">ACTIVE</small>
            {% else %}
                <small class="pull-right btn btn-xs plain_btn_danger">INACTIVE</small>
            {% endif %}
            {% if station.name|length >10 %}
                {{ station.name[:11] }}...
            {% else %}
                {{ station.name }}
            {% endif %}
        </h3>
        <div class="rep_info_box chart_summary">
            <div class="item_rec">
                <h7>Manager</h7>
                <span>{{ station.manager.name }}</span>
            </div>
            <div class="item_rec">
                <h7>Code</h7>
                <span>{{ station.code }}</span>
            </div>
            {% if station.location %}
                <div class="item_rec">
                    <h7>Longitude</h7>
                    <span>{{ station.location.longitude }} <i class="fa fa-map-marker"></i></span>
                </div>
                <div class="item_rec">
                    <h7>Latitude</h7>
                    <span>{{ station.location.latitude }} <i class="fa fa-map-marker"></i></span>
                </div>
            {% endif %}
            <div class="item_rec">
                <h7>Location</h7>
                <span>{{ station.location.line1 }}{% if station.line2 %},{{ station.location.line2 }}{% endif %}<br>
                    {{ station.location.city.name }}, {{ station.location.state.name }}, {{ station.location.country.name }}</span>
            </div>

        </div>
    </div>
</div>
