<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atele | Internal Server Error</title>
    <link rel="stylesheet" href="/static/css/404.css" type="text/css">
</head>
<body>
<div class="wrapper row2">
    <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <!-- ####################################################################################################### -->
        <section id="fof" class="clear">
            <!-- ####################################################################################################### -->
            <div class="hgroup">
                <h1><span><strong>5</strong></span><span><strong>0</strong></span><span><strong>0</strong></span></h1>
                <h2>A System Error Just Occurred</h2>
                <small>Our Engineers are fixing it. Please bear with us.</small>

            </div>
            <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="{{ url_for('client_blueprint.index') }}">Go Home &raquo;</a></p>
        </section>
    </div>
</div>
</body>
</html>