{% extends "client/app_layout.html" %}
{% block body%}
<div class="form col-md-12">
  <div class="col-md-8">
    <h6>Settings Page</h6>
    <form class="" action="" method="post">
      <div class="wrap full">
        <div class="form-group">
          <label for="">Device Name</label>
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="wrap half">
        <div class="form-group">
          <label for="">Device Code</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="">Device Brand</label>
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="wrap half">
        <div class="form-group">
          <label for="">Device Code</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="">Device Brand</label>
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="wrap third">
        <div class="form-group">
          <label for="">Device Code</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="">Device Brand</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="">Device Brand</label>
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="wrap quarter">
        <div class="form-group">
          <label for="">Device Code</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="">Device Brand</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="">Device Brand</label>
          <input type="text" name="name" value="">
        </div>
        <div class="form-group">
          <label for="">Device Brand</label>
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="wrap">
        <div class="form-group">
          <label for="">Description</label>
          <textarea name="name"></textarea>
        </div>
      </div>
      <div class="wrap">
        <div class="form-group check">
          <input type="checkbox" name="name" value="">
          <label for="">
            Check
            <span>description text goes in here. thanks......</span>
          </label>
        </div>
      </div>
      <div class="wrap">
        <div class="form-group">
          <label for="">Select</label>
          <select class="" name="">
            <option>--- Select One ---</option>
            <option>One</option>
            <option>Two</option>
            <option>Three</option>
            <option>Four</option>
          </select>
        </div>
      </div>
      <div class="wrap">
        <div class="form-group actions pull-right">
          <input type="submit" name="name" value="Submit">
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <p>
      Description Details
    </p>
  </div>
</div>

{% endblock body%}
