{% extends "email/layout.html" %}
{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            Hi,<br>
                            <br>
                            <div>{{ message }}</div>
                            <br><br>
                            Sincerely,<br><br>Atele
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}
