{% extends "email/layout.html" %}
{% block header_ext %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
           style="border-collapse: collapse;">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">Come check out my stuff!</span><br><br>
                You won't believe how easy and fun Awesome co is!
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Sign
                        up now!</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td>
                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
                    <tr>
                        <td class="mobile-center">
                            <span class="header">You get a 20% discount for signing up!</span><br>
                            Discount Code: <span style="color:#FE6F06;"> 45A9E77DGW8455</span>
                        </td>
                        <td class="mobile-hide">
                            <img width="84" height="82" src="https://www.filepicker.io/api/file/zef0p13mRmKdcOhbUVZ4"
                                 alt="dollar symbol">
                        </td>
                    </tr>
                </table>


                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
                    <tr>
                        <td class="mobile-block" style="vertical-align:top; padding: 10px;">
                            <br>
                            <img width="85" height="85" src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png"
                                 alt="profile image"><br>
                            <span style="font-size:12px;">User:<a href="#"> John Doe</a></span>
                        </td>
                        <td class="mobile-block" style="padding: 0 25px;">
                            <br>
                            Hey Bob, <br>
                            <br>
                            I set up an Awesome Co profile where I can do tons of really awesome stuff. I want you to
                            follow me so we can keep in touch!
                            <br><br>
                            See you soon!
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}
