{% extends "email/layout.html" %}
{% block header_ext %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
           style="border-collapse: collapse;">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213"
                     src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png" alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">We need your help!</span><br>
                We want to know how we can make Awesome Inc better and would love to know what you think about us. Click
                below to rate how satisfied you are with us from 0-10. Your opinion matters!
                <br>
            </td>
        </tr>
    </table>
{% endblock header_ext %}
{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td style="padding:30px 30px 0;">

                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <td class="survey-info-left">
                            Unsatisfied
                        </td>
                        <td class="survey-info-right">
                            Satisfied
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 30px 0">

                <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>

                        <td class="pusher">&nbsp;</td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">&nbsp;</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">1</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">1</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>
                        <td>
                            <div><!--[if mso]>
														<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:27px;v-text-anchor:middle;width:31px;" stroke="f" fill="t">
															<v:fill type="tile" src="https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK" color="#ffffff" />
															<w:anchorlock/>
															<center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">1</center>
														</v:rect>
													<![endif]--><a class="mobile-dot" href="https://atele.org/"
                                                                   style="background-color:#ebebeb;background-image:url(https://www.filepicker.io/api/file/NZdPLR160129NSmcowJK);color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:31px;-webkit-text-size-adjust:none;mso-hide:all;">&nbsp;</a>
                            </div>
                        </td>

                        <td class="pusher">&nbsp;</td>

                    </tr>
                    <tr>
                        <td class="pusher">&nbsp;</td>
                        <td class="step-center">0</td>
                        <td class="step-center">1</td>
                        <td class="step-center">2</td>
                        <td class="step-center">3</td>
                        <td class="step-center">4</td>
                        <td class="step-center">5</td>
                        <td class="step-center">6</td>
                        <td class="step-center">7</td>
                        <td class="step-center">8</td>
                        <td class="step-center">9</td>
                        <td class="step-center">10</td>
                        <td class="pusher">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table cellspacing="0" cellpadding="30" width="100%">
        <tr>
            <td style="text-align:center;">
                Thank you for your time! <br/>
                <b>Awesome Team</b>

            </td>
        </tr>
    </table>
{% endblock body %}