{% extends "email/layout.html" %}
{% block header_ext %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
           style="border-collapse: collapse;">
        <tr>
            <td class="computer-image">
                <br>
                <br class="mobile-hide"/>
                <img style="display:block;" width="224" height="213" src="https://s3-us-west-2.amazonaws.com/atele/email-welcome.png"
                     alt="hello">
            </td>
            <td style="color: #232925;" class="header-text">
                <br>
                <br>
                <span style="font-size: 24px;">Thank you for signing up!</span><br><br>
                Your new Awesome account is almost ready to use. Please verify your email by clicking the button below.
                <br>
                <br>
                <div><!--[if mso]>
												<v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://atele.org/" style="height:40px;v-text-anchor:middle;width:150px;" stroke="f" fillcolor="#FE6F06">
													<w:anchorlock/>
													<center>
												<![endif]-->
                    <a href="https://atele.org/"
                       style="background-color:#FE6F06;color:#ffffff;display:inline-block;font-family:Helvetcia, sans-serif;font-size:16px;font-weight:light;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;">Activate
                        Account</a>
                    <!--[if mso]>
														</center>
													</v:rect>
												<![endif]-->
                </div>
            </td>
        </tr>
    </table>
{% endblock header_ext %}

{% block body %}
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
           style="border-collapse: collapse;">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="force-full-width">
                    <tr>
                        <td>
                            <span class="header">Your account information:</span><br>
                            Account name: <a href="#">bob1031</a> <br>
                            Email: <a href="#">bob@bob.com</a> <br><br>
                            <span class="header">Questions?</span><br>
                            Feel free to <a href="#">contact us</a> anytime for questions about your account.<br><br>
                            Sincerely,<br>
                            Your Awesome Team
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock body %}